@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --azul-main: #093D6D;
    --azul-second: #4E6892;
    --celeste-second: #40A2D8;
    --dorado: #FFC300;
    --dorado-sec: #ffc40071;
    --gris: #282A3A;
    --gris-oscuro: #1d1e29;
}


/*reset html*/
html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
  ol, ul {
    list-style: none;
  }
  
  p {
    font-size: 1rem;
}

html, body {
    height: 100%;
}







/** Colores body, footer*/
footer{
    background-color: var(--celeste-second);




    & a {
        color: var(--azul-main);
        font-size: 1.5rem;

    }
    
}

footer i:hover {
    font-weight: bolder;
}
#footer_detalle {
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media (max-width: 767px){
    #footer_detalle {
        position: relative;
    }
}

body {
    background: #86B0FA;
    min-height: 100vh;
}

main {
    flex: 1;
}

  /**  navbar*/
  .navbar{
    background-color: var(--celeste-second);
}


.navbar-brand{
    color: var(--dorado);
}
.ul_nav a {
    color: var(--azul-main);
    font-weight: bold; /* Increase font weight */
}


.logo {
    width: 70px;
}

/* color main*/
.font-color-main {
    color: var(--azul-main);
}
/** cards estilos y animaciones */

.card{
    width: auto;
    background-color: var(--celeste-second);
    transition: transform 0.3s, box-shadow 0.3s;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    & h5 {
        color: #fff;
        font-weight: bold;
        font-size: 30px;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
    }
}
.card:hover {
    transform: scale(.95);
    box-shadow: 0 4px 8px var(--azul-main);
    & h5 {
        opacity: 1;
        color: #fff;
    }
     & .card-img{
        filter: blur(20px);
     }
}

.card-img {
    width: 100%;
    height: auto; 
    object-fit: cover; 
}

.card-img-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
}

.instagram-media {
    width: 100% !important;
    min-width: unset !important;
    max-width: 100% !important;
    margin: 0 !important;
}

.card-instagram {
    padding: 0 !important;
    overflow: hidden;
    background-color: transparent !important;
    box-shadow: none !important;
}

.instagram-media {
    width: 100%;
    min-height: 600px; /* Establece una altura mínima */
    height: auto; /* Ajusta la altura automáticamente */
    object-fit: cover;
    border-radius: 10px;
    overflow: hidden;
}

/* Ocultar el pie de las publicaciones de Instagram */
.instagram-media .EmbedFooter {
    display: none !important;
}

/* Ocultar elementos específicos de las publicaciones de Instagram */
.instagram-media .EmbedFooter,
.instagram-media .EmbedSocialProof,
.instagram-media .EmbedCaption,
.instagram-media .EmbedFeedback {
    display: none !important;
}

/* Estilos para el selector de categorias */
.select-estilo{
    background-color: var(--celeste-second);
    color: var(--azul-main);
    border: none;
    border-radius: 10px;
}

.select-estilo:focus { 
    border-color: inherit;
    box-shadow: none;
}

.select-estilo option:first-child {
    color: #000;
}

.select-estilo option {
    color: var(--azul-main);

}

.btn-custom {
    display: inline-block; /* Asegura que el enlace se comporte como un botón */
    background-color: var(--azul-main); /* Color de fondo predeterminado */
    color: #fff; /* Color del texto del enlace */
    border: none;
    border-radius: 5px;
    padding: 0.375rem 0.75rem; /* Ajusta el padding como el botón */
    text-align: center;
    text-decoration: none; /* Elimina el subrayado predeterminado */
    transition: background-color 0.3s ease; /* Suaviza la transición del color */
    width: 100%; /* Ocupa todo el ancho del contenedor */
}

.btn-custom:hover {
    background-color: var(--celeste-second); /* Color de fondo al pasar el cursor */
    color: var(--azul-main); /* Opcional: cambia el color del texto si es necesario */
    cursor: pointer;
}

/** Carousel*/
.glide__slide img {
    width: 100%;
}
.glide__slide {
    filter: blur(6px);
    opacity: .7;
    transition: .3s linear;
}
.glide__slide--active {
    opacity: 1;
    filter: none;
    transform: scale(1.1);
}
.glide__slides{
    overflow: visible;
}

.glide__bullet{
    background-color: var(--celeste-second);
}

.glide__bullet--active {
    background-color: var(--azul-main);
}

#detalle {
    border-left: 2px solid var(--azul-main);
    /* & h1 {
        color: #000;
    } */
    & p {
        color: #000;
    }
    & i {
        color: #000;
        font-size: 30px;
    }
}


@media (max-width: 767px){
    #detalle {
        border-left: none;
    }
}


/* .Feedback{
    display: none;
}
.SocialProof{
    display: none;
}
.Footer{
    display: none;
}
.Caption{
    display: none !important;
} */


/* ----------------------------------------------
 * Generated by Animista on 2024-6-28 20:40:12
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 Animacion Logo
 * ---------------------------------------------- */
 .jello-horizontal:hover{animation:jello-horizontal .9s both}
 @keyframes jello-horizontal{0%{transform:scale3d(1,1,1)}30%{transform:scale3d(1.25,.75,1)}40%{transform:scale3d(.75,1.25,1)}50%{transform:scale3d(1.15,.85,1)}65%{transform:scale3d(.95,1.05,1)}75%{transform:scale3d(1.05,.95,1)}100%{transform:scale3d(1,1,1)}};



 /** Barra de scroll*/
body::-webkit-scrollbar {
    width: 7px; /* Ancho de toda la barra de desplazamiento */
}
body::-webkit-scrollbar-track {
    background: var(--azul-second); /* Color del área de seguimiento */
}
body::-webkit-scrollbar-thumb {
    background-color: var(--azul-main); /* Color de la barra */
    border-radius: 3px; /* borde barra */
}



/** Boton de scroll to top*/
.scroll-top-button {
    z-index: 0;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--azul-main);
    transition: background-color 0.3s ease, color 0.3s ease;
    color: #fff;
    border-radius: 50px;
    padding: 10px;
    border: none;
    cursor: pointer;
    display: none;
}

/* Mostrar el botón cuando se hace scroll */
.show-scroll-button {
    display: block;
}

.scroll-top-button:hover{
    background-color: var(--azul-second);
    color: #212529;
}

/* New class for nosotros text */
.nosotros-text {
    background-color: var(--celeste-second);
    color: var(--azul-main);
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 1.1rem;
    line-height: 1.6;
}

/* New class for title background */
.title-background {
    background-color: var(--celeste-second);
    color: var(--azul-main);
    padding: 0.5rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title-background-inline {
    background-color: var(--celeste-second);
    color: var(--azul-main);
    padding: 0.5rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: inline-block;
}

.subtitle-background {
    background-color: var(--celeste-second);
    color: var(--azul-main);
    padding: 0.5rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
